In [1]:
import pprint
import pandas as pd

In [2]:
import json

with open('response.json') as f:
  df = json.load(f)

### Section 0

In [3]:
meeting_id=[]
meeting_name=[]
main_event={}
main_race_no={}
main_race_link={}
main_race_dist={}
main_race_st={}
for i in range(len(df['dates'][0]['sections'][0]['meetings'])):
    meeting_id.append(df['dates'][0]['sections'][0]['meetings'][i]['id'])
    meeting_name.append(df['dates'][0]['sections'][0]['meetings'][i]['name'])
    event_id=[]
    race_no=[]
    race_link=[]
    race_dist=[]
    race_st=[]
    for j in range(len(df['dates'][0]['sections'][0]['meetings'][i]['events'])):
        try:    
            event_id.append(df['dates'][0]['sections'][0]['meetings'][i]['events'][j]['id'])
            race_no.append(df['dates'][0]['sections'][0]['meetings'][i]['events'][j]['raceNumber'])
            race_link.append(df['dates'][0]['sections'][0]['meetings'][i]['events'][j]['httpLink'])
            race_st.append(df['dates'][0]['sections'][0]['meetings'][i]['events'][j]['startTime'])
            race_dist.append(df['dates'][0]['sections'][0]['meetings'][i]['events'][j]['distance'])
        except:
            race_dist.append(0)
    main_event[df['dates'][0]['sections'][0]['meetings'][i]['id']]=event_id
    main_race_no[df['dates'][0]['sections'][0]['meetings'][i]['id']]=race_no
    main_race_link[df['dates'][0]['sections'][0]['meetings'][i]['id']]=race_link
    main_race_dist[df['dates'][0]['sections'][0]['meetings'][i]['id']]=race_dist
    main_race_st[df['dates'][0]['sections'][0]['meetings'][i]['id']]=race_st

In [4]:
# pd.DataFrame.from_dict(main_event)
df_events=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_event.items() ])).melt()
df_events.columns=['meeting_id','event_id']

# pd.DataFrame.from_dict(main_event)
df_raceNumber=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_race_no.items() ])).melt()
df_raceNumber.columns=['meeting_id','raceNumber']
df_raceNumber.drop('meeting_id',axis=1,inplace=True)
# pd.DataFrame.from_dict(main_event)
df_httpLink=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_race_link.items() ])).melt()
df_httpLink.columns=['meeting_id','httpLink']
df_httpLink.drop('meeting_id',axis=1,inplace=True)

# pd.DataFrame.from_dict(main_event)
df_startTime=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_race_st.items() ])).melt()
df_startTime.columns=['meeting_id','startTime']
df_startTime.drop('meeting_id',axis=1,inplace=True)

# pd.DataFrame.from_dict(main_event)
df_distance=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_race_dist.items() ])).melt()
df_distance.columns=['meeting_id','distance']
df_distance.drop('meeting_id',axis=1,inplace=True)

In [5]:
final_event_df=pd.concat([df_events,df_raceNumber,df_httpLink,df_startTime,df_distance],axis=1)
meeting_name_df=pd.DataFrame({'meeting_id':meeting_id , 'meeting_name':meeting_name})
section_1_all=pd.merge(final_event_df,meeting_name_df,how='left',left_on='meeting_id',right_on='meeting_id')

In [6]:
meeting_name_df.head()

   meeting_id meeting_name
0         336       Echuca
1         651        Wagga
2         458       Mackay
3         526      Northam
4        3841  Bellewstown

In [7]:
final_event_df.head()

,meeting_id,event_id,raceNumber,httpLink,startTime,distance
0,336,6040123.0,1.0,Sportsbook/Racing/Events/6040123/Racecard,1.629945e+09,1300
1,336,6040124.0,2.0,Sportsbook/Racing/Events/6040124/Racecard,1.629947e+09,1300
2,336,6040125.0,3.0,Sportsbook/Racing/Events/6040125/Racecard,1.629949e+09,1300
3,336,6040126.0,4.0,Sportsbook/Racing/Events/6040126/Racecard,1.629950e+09,1100
4,336,6040127.0,5.0,Sportsbook/Racing/Events/6040127/Racecard,1.629952e+09,2100

In [8]:
section_1_all.head()

,meeting_id,event_id,raceNumber,httpLink,startTime,distance,meeting_name
0,336,6040123.0,1.0,Sportsbook/Racing/Events/6040123/Racecard,1.629945e+09,1300,Echuca
1,336,6040124.0,2.0,Sportsbook/Racing/Events/6040124/Racecard,1.629947e+09,1300,Echuca
2,336,6040125.0,3.0,Sportsbook/Racing/Events/6040125/Racecard,1.629949e+09,1300,Echuca
3,336,6040126.0,4.0,Sportsbook/Racing/Events/6040126/Racecard,1.629950e+09,1100,Echuca
4,336,6040127.0,5.0,Sportsbook/Racing/Events/6040127/Racecard,1.629952e+09,2100,Echuca

### Section 1

In [9]:
meeting_id=[]
meeting_name=[]
main_event={}
main_race_no={}
main_race_link={}
main_race_dist={}
main_race_st={}
for i in range(len(df['dates'][0]['sections'][1]['meetings'])):
    meeting_id.append(df['dates'][0]['sections'][1]['meetings'][i]['id'])
    meeting_name.append(df['dates'][0]['sections'][1]['meetings'][i]['name'])
    event_id=[]
    race_no=[]
    race_link=[]
    race_dist=[]
    race_st=[]
    for j in range(len(df['dates'][0]['sections'][1]['meetings'][i]['events'])):
        try:    
            event_id.append(df['dates'][0]['sections'][1]['meetings'][i]['events'][j]['id'])
            race_no.append(df['dates'][0]['sections'][1]['meetings'][i]['events'][j]['raceNumber'])
            race_link.append(df['dates'][0]['sections'][1]['meetings'][i]['events'][j]['httpLink'])
            race_st.append(df['dates'][0]['sections'][1]['meetings'][i]['events'][j]['startTime'])
            race_dist.append(df['dates'][0]['sections'][1]['meetings'][i]['events'][j]['distance'])
        except:
            race_dist.append(0)
    main_event[df['dates'][0]['sections'][1]['meetings'][i]['id']]=event_id
    main_race_no[df['dates'][0]['sections'][1]['meetings'][i]['id']]=race_no
    main_race_link[df['dates'][0]['sections'][1]['meetings'][i]['id']]=race_link
    main_race_dist[df['dates'][0]['sections'][1]['meetings'][i]['id']]=race_dist
    main_race_st[df['dates'][0]['sections'][1]['meetings'][i]['id']]=race_st

In [10]:
# pd.DataFrame.from_dict(main_event)
df_events=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_event.items() ])).melt()
df_events.columns=['meeting_id','event_id']

# pd.DataFrame.from_dict(main_event)
df_raceNumber=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_race_no.items() ])).melt()
df_raceNumber.columns=['meeting_id','raceNumber']
df_raceNumber.drop('meeting_id',axis=1,inplace=True)
# pd.DataFrame.from_dict(main_event)
df_httpLink=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_race_link.items() ])).melt()
df_httpLink.columns=['meeting_id','httpLink']
df_httpLink.drop('meeting_id',axis=1,inplace=True)

# pd.DataFrame.from_dict(main_event)
df_startTime=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_race_st.items() ])).melt()
df_startTime.columns=['meeting_id','startTime']
df_startTime.drop('meeting_id',axis=1,inplace=True)

# pd.DataFrame.from_dict(main_event)
df_distance=pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in main_race_dist.items() ])).melt()
df_distance.columns=['meeting_id','distance']
df_distance.drop('meeting_id',axis=1,inplace=True)

In [11]:
final_event_df_sec1=pd.concat([df_events,df_raceNumber,df_httpLink,df_startTime,df_distance],axis=1)
meeting_name_df_sec1=pd.DataFrame({'meeting_id':meeting_id , 'meeting_name':meeting_name})
section_1_all=pd.merge(final_event_df,meeting_name_df,how='left',left_on='meeting_id',right_on='meeting_id')

In [12]:
final_event_df.head()

,meeting_id,event_id,raceNumber,httpLink,startTime,distance
0,336,6040123.0,1.0,Sportsbook/Racing/Events/6040123/Racecard,1.629945e+09,1300
1,336,6040124.0,2.0,Sportsbook/Racing/Events/6040124/Racecard,1.629947e+09,1300
2,336,6040125.0,3.0,Sportsbook/Racing/Events/6040125/Racecard,1.629949e+09,1300
3,336,6040126.0,4.0,Sportsbook/Racing/Events/6040126/Racecard,1.629950e+09,1100
4,336,6040127.0,5.0,Sportsbook/Racing/Events/6040127/Racecard,1.629952e+09,2100

In [13]:
meeting_name_df.head()

   meeting_id meeting_name
0         336       Echuca
1         651        Wagga
2         458       Mackay
3         526      Northam
4        3841  Bellewstown

In [14]:

section_1_all.head()

,meeting_id,event_id,raceNumber,httpLink,startTime,distance,meeting_name
0,336,6040123.0,1.0,Sportsbook/Racing/Events/6040123/Racecard,1.629945e+09,1300,Echuca
1,336,6040124.0,2.0,Sportsbook/Racing/Events/6040124/Racecard,1.629947e+09,1300,Echuca
2,336,6040125.0,3.0,Sportsbook/Racing/Events/6040125/Racecard,1.629949e+09,1300,Echuca
3,336,6040126.0,4.0,Sportsbook/Racing/Events/6040126/Racecard,1.629950e+09,1100,Echuca
4,336,6040127.0,5.0,Sportsbook/Racing/Events/6040127/Racecard,1.629952e+09,2100,Echuca